NEXT_PUBLIC_SUPABASE_URL=https://hcwrfhjurhseqauicbtf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhjd3JmaGp1cmhzZXFhdWljYnRmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MzA3ODIsImV4cCI6MjA5NjUwNjc4Mn0.gR-i0eDVNU0HGGNbc92tFpnL4Blp9YgbJ-bie6i2M8M
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhjd3JmaGp1cmhzZXFhdWljYnRmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDkzMDc4MiwiZXhwIjoyMDk2NTA2NzgyfQ.GesZMeXfcX4DiZXmat_RpVw_Y4g9UzjAHVkH3y5zE6I
